/*
 * @version 1.1.0
 * @description Estilos para los botones
*/

button, .btn {
    cursor: pointer;
}

.btn {
    border-radius: 4px;
    font-size: $fontSmall;
    font-weight: $weightMedium;
    transition: all 250ms ease-in-out;
    padding: $paddingNormal $paddingMedium;
}

.btn-medium {
    padding: 14px $paddingMedium;
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    &:hover {
        background-color: var(--primary-alt);
    }
}

.btn-secondary {
    background-color: var(--secondary);
}

.btn-large {
    font-size: $fontSmall;
    padding: $paddingMedium $paddingSemi;
}

header {

    .btn-light-toggle {
        background-color: transparent;
    }

}


html[data-theme='dark'] {
 
    .btn-primary {
        color: var(--black);
        background-color: #535353;
        &:hover {
            background-color: #6c6c6c;
        }
    }

}