/*
 * @version 1.1.0
 * @description Estilos de la página de /portafolio
*/

.page-portafolio {

    background-color: var(--lightBg);

    .portfolio {

        .project-container { justify-content: space-between; }

        .project {

            width: 30%;
            border-radius: 4px;
            padding: $paddingNormal;
            background-color: var(--white);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            margin: $marginMedium $marginNormal;

            .image {
                img { max-height: 180px; }
            }

            .web { margin-bottom: $marginSemi; }

            .description { justify-content: space-around; }

        }

    }

    @media screen and (max-width: 1024px) {

        .portfolio {
    
            .project-container { justify-content: space-between; }
    
            .project {
    
                margin: $marginMedium 0;

                .title { 

                    a { font-size: 1.4rem; }

                }
    
            }
    
        }
        
    }
    
    @media screen and (max-width: 768px) {
    
        .portfolio {

            .project { width: 45%; }

        }
        
    }
    
    @media screen and (max-width: 576px) {
    
        .portfolio {

            .project {

                width: 100%;
    
                .image {

                    img { max-height: 140px; }

                }
    
                .title { 

                    a { font-size: 1.25rem; }

                }
    
            }
            
        }
        
    }

}

html[data-theme='dark'] {
 
    .page-portafolio {

        background-color: #2c2c2c;

        .services {
    
            .card {
                box-shadow: 2px 4px 2px var(--white);
                &:hover { box-shadow: 0px 4px 3px rgba(23, 49, 54, 0.3); }
            }
    
        }

        .portfolio {
    
            .project {
    
                .image {

                    background-color: #ffffff;

                }
    
            }
    
        }

    }

}