/*
 * @version 1.1.0
 * @description Estilos de la página de /portafolio
*/

.page-portafolio {

    background-color: var(--lightBg);

    .portfolio {
        background-color: var(--lightBg);

        .project-container {
            justify-content: space-between;
        }

        .project {
            width: 31%;
            border-radius: 4px;
            padding: $paddingNormal;
            background-color: var(--white);
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
            margin: $marginMedium $marginNormal;

            .image {
                img {
                    max-height: 180px;
                }
            }

            .web {
                margin-bottom: $marginSemi;
            }

            .description {
                justify-content: space-around;
            }

        }

    }

    @media screen and (max-width: 1024px) {

        .portfolio {
            background-color: var(--lightBg);
    
            .project-container {
                justify-content: space-between;
            }
    
            .project {
    
                .title { 
                    a { font-size: 1.4rem; }
                }
    
            }
    
        }
        
    }
    
    @media screen and (max-width: 768px) {
    
        .portfolio {
            .project { width: 45%; }
        }
        
    }
    
    @media screen and (max-width: 576px) {
    
        .portfolio {
            .project {
                width: 100%;
    
                .image {
                    img {
                        max-height: 140px;
                    }
                }
    
                .title { 
                    a { font-size: 1.25rem; }
                }
    
            }
        }
        
    }

}