
/*  INFORMATION
   =============================
    
	- File:           trejocode.css
	- Versión:        1.2
	- Licence:        Mozilla Public Licence. 
	- Author:         TrejoCode
    - Update:         26/12/2018
    - Client:         Me <3

*/

/* RESET
   =============================

   - These properties able the cross compatibility for browsers and removes default properties from browsers.

*/

$paddingGutters: 12px;

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {    
    overflow-x: hidden;
}

input, textarea, select, option, button {
    margin: 0;
	border: 0;
    padding: 0;
    outline: none;    
}

table {
    border-spacing: 0;
    overflow-x:  auto;
}

table th {
    white-space: nowrap;
}

input:focus, select:focus {
    outline: none;
    transition: 400ms ease;
}

div, header, footer, section, article, aside, nav, form, table {
    width: 100%;
    transition: all 450ms;
}

ul, ol {
    list-style: none;
}

a {
    color: inherit;
    word-break: keep-all;
    text-decoration: none;        
    align-self: flex-start;
}

img {
    max-width: 100%;
    height: auto;
}




/* CLASES
   =============================

	1. = FLEX LAYOUT
	2. = ALIGNMENT
    3. = WHITE SPACES
    4. = TABLES
    5. = IMAGES
    6. = DECORATORS & COLORS

*/


/*    FLEX LAYOUT

    - This stylesheet is based on flexbox.
    - W3 CSS Flexible Box Layout Module:
       https://www.w3.org/TR/css-flexbox-1
    
*/

.flex {
    display: flex;
}

.flex div, .flex img, .flex header, .flex nav, .flex form {
    display: flex;
}

.container {
    width: 90%;
}

.responsive-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.row {
    flex-direction: row;
}

.row-responsive {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.auto {
    width: auto;    
}

.wrap {
    flex-wrap: wrap;
}

.gutters {
    margin: 0 auto;
}

.gutters > div {
    margin: $paddingGutters;
}

.gutters > div:first-of-type {
    margin-left: 0;
}

.gutters > div:last-of-type {
    margin-right: 0;
}


/*    ALIGNMENT    */


.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-arround {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}


/*    TEXT ALIGNMENT    */


.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}


/*    TABLES    */

.table-responsive {
    overflow-x: auto;
}

.table-auto {
    table-layout: auto;
}

.table-equal {
    table-layout: fixed;
}


/*    IMAGES    */

.cover-img {
    object-fit: cover;
}

.contain-img {
    object-fit: contain;
}


/*    DECORATORS    */

.hidden {
    display: none !important;
}



/*    LARGE DEVICES    */

@media screen and (min-width: 1440px) {

    .container {
        max-width: 1440px;
    }

}

/*    NOTEBOOKS, IPADS DEVICES    */

@media screen and (max-width: 992px) {
    
}

/*    TABLETS DEVICES    */

@media screen and (max-width: 768px) {    
    
    .row-responsive {
        flex-direction: column;
    }

    .white-space-64 {
        height: 32px;
    }    

    .gutters > div {
        margin: 0;
    }
    
}

/*    MOBILE DEVICES    */

@media screen and (max-width: 576px) {
    
}
