/*
 * @version 1.1.0
 * @description Estilos del componente Footer
*/

footer {

    .footer-top {

        background-color: var(--primary-alt);

        img { max-height: 50px; }

        .top-page { display: none; }

    }


    @media screen and (max-width: 576px) {
        
        .footer-top {

            .top-page {

                display: flex;
    
                a {
                    width: 32px;
                    height: 32px;
                    border-radius: 4px;
                    background-color: var(--white);
                    margin-bottom: $marginSemi;
                }
    
            }

        }

    }


}

html[data-theme='dark'] {
 
    footer {

        .footer-top {
            background-color: var(--white);
        }
        
    }

}