/**
 * @version 1.0.0
 * @description Estilos para los botones
*/

button, .btn {
    cursor: pointer;
}

.btn {
    border-radius: 4px;
    font-size: $fontSmall;
    font-weight: $weightMedium;
    transition: all 250ms ease-in-out;
    padding: $paddingNormal $paddingMedium;
}

// Sizing
.btn-medium {
    padding: 14px $paddingMedium;
}

.btn-primary {
    color: $white;
    background-color: $primary;
    &:hover {
        background-color: $primary-alt;
    }
}

.btn-secondary {
    background-color: $secondary;
}