/**
* @name: buttons.scss
* @description: Estilos del los botones
*/

button, a, .btn {
    cursor: pointer;
    font-family: $Roboto;
}

.btn {
    font-size: $fontRegular;
    padding: $paddingNormal $paddingMedium;
    transition: 400ms background-color ease-in-out;
}

.btn:hover {
    background-color: $darkAqua;
}

.btn-radius {
    border-radius: 4px;
}

.btn-large {
    padding: $paddingMedium;
}

.btn-aqua {
    background-color: $aqua;
}