
.input {    
    color: #7a7b7b;
    font-family: $IBM;
    font-weight: $weightMedium;
    background-color: #f5f6f7;
    border: 1px solid #dcddde;
    padding: $paddingMedium $paddingNormal;
    transition: border 400ms ease-in-out;

    &:focus {
        border: 1px solid $aqua;
    }

}

.input-radius {
    border-radius: 4px;
}

.textarea {
    resize: none;
    width: 100%;
}