
.home {

    .banner {
        min-height: 85vh;
    }

    .banner .left {
        width: 50%;
        justify-content: center;
        .btn {
            width: 430px;
        }
    }

    .banner .right {
        width: 50%;
        img {
            max-width: 400px;
        }
    }

    .services {
        background-color: $lightAqua;
        min-height: 600px;
    }

    .services .left {
        width: 40%;
        top: 0;
        align-self: flex-start;
        position: sticky;        
        margin-right: $paddingLarge;
        p {
            padding: 0 $paddingNormal;
            b { color: $darkAqua; }
        }
    }

    .services .right {
        width: 60%;
        margin-left: $paddingNormal;
    }

    .services .card {
        width: 50%;
        background-color: $white;
        box-shadow: 2px 4px 2px #e9e9e9;        
        &:first-of-type { margin-right: $paddingNormal; }
        &:last-of-type { margin-left: $paddingNormal; }
        &:hover { box-shadow: 0px 4px 3px rgba(37, 131, 149, 0.3); }
    }

    .services .card-head {
        background-color: $aqua;
        border-radius: 4px 4px 0 0;
    }    

    .services .card-head img {
        border-radius: 4px 4px 0 0;
    }

    .services .card-body {
        padding: $paddingMedium;
        border-radius: 0 0 4px 4px;

        .card-title {
            font-size: $fontRegular;
        }

        .card-description {
           min-height: 90px; 
        }

        .card-footer {
            height: 70px;
            border-top: 2px solid $lightAqua;
        }

        .footer-content {
            padding: $paddingNormal 0;
        }
    }  
    
    .about {
        background-color: $white;
    }

    .about .left {
        width: 40%;
    }

    .about .left .me-picture {
        margin-bottom: $paddingLarge;
    }

    .about .left img {
        height: 400px;
        padding-right: $paddingNormal;
    }

    .about .right {
        width: 60%;
        p {
            padding: 0 $paddingNormal;
        }
    }

    .portfolio {
        background-color: $lightAqua;
    }

    .portfolio .project-container {
        justify-content: space-between;
    }

    .portfolio .project {
        width: 46%;
        &:first-of-type { padding-left: $paddingNormal; }
        &:last-of-type { padding-right: $paddingNormal; }
    }

    .portfolio .image {
        height: 350px;
         img { height: 300px; }
    }
    
    .portfolio #buenosdias .image {
        background-color: $darkAqua;
    }

    .portfolio #bece .image {
        background-color: #4e8540;
    }

    .portfolio .title {
        min-width: 60%;
        
    }

    .portfolio .description {
        justify-content: flex-end;
        h5 { text-align: right; }
    }

    .contact form {
        width: 60%;
    }

    form input {
        min-width: 48%;
    }

    form a {
        color: $gray;
    }

    form .btn {
        width: 40%;
    }

}

@media screen and (max-width: 992px) {
    
    .home {
        .banner .left {
            width: 60%;
            .btn { width: 400px; }
        }

        .banner .right {
            width: 40%;
            img {
                z-index: -1;
                max-width: 300px;
            }
        }

        .services {
            .row-responsive-ipad {
                flex-direction: column;
            }

            .left {
                width: 100%;
                position: relative;
            }

            .right {
                width: 100%;
                margin-bottom: $paddingLarge;
            }
        }        

        .about .right {
            p { padding: 0; }   
        }

        .about .left img {
            width: 85%;
            height: auto;
            padding-right: 0;
        }

    }    
}

@media screen and (max-width: 768px) {

    .home {
        .banner .left {
            margin: $paddingLarge 0;
            width: 100%;
            align-items: center;
            .btn-container { justify-content: center; }
        }

        .banner .right {
            width: 100%;
            margin: $paddingLarge 0;
        }

        .services {

            .left { margin-right: 0; }

            .left p {
                padding: 0;
            }

            .right { margin-left: 0; }

            .card {
                width: 100%;
                margin: $paddingMedium 0;
                &:first-of-type { margin-right: 0; }
                &:last-of-type { margin-left: 0; }
            }

            .card-head img { width: 100%; }

        }

        .about .left {
            width: 100%;
            .me-picture{
                margin-bottom: 0;
                .responsive-img { justify-content: center; align-items: center; }
            } 
        }

        .about .right {
            width: 100%;
            p { padding: 0; }   
        }

        .about .left img {
            width: 100%;
            height: auto;
        }

        .portfolio .project-container {
            justify-content: space-between;
        }

        .portfolio .project {
            width: 100%;
            &:first-of-type { padding-left: 0; }
            &:last-of-type { padding-right: 0; }
        }

        .portfolio .image {
            width: 100%;
            height: auto;
            img { width: 100%; height: auto; }
        }        
        
        .portfolio .title {
            min-width: 50%;            
        }

        .portfolio .description {
            justify-content: flex-end;
            h5 { text-align: right; }
        }

        .contact form {
            width: 100%;
        }

        form input {
            min-width: 45%;
            margin: 0 4px;
        }

        form a {
            text-align: center;
        }

        form .btn {
            width: 80%;
        }

    }
}

@media screen and (max-width: 576px) {

    .home {
        .banner .left {
            h3 {
                text-align: center;
                font-size: $fontRegular;
            }
        }
    }

}